@keyframes sliding {
	from {margin-left: 0px}
	to {margin-left: -506px}
}

.sec-main {
    width: 500px;
}

.sec-main li {
	margin-right: 5px;
}

.sec-main ul {
    display: flex;
}

.sec-main img {
	margin: 0;
}

.anim {
    animation-name: sliding;
    animation-duration: 1s;
}



